#btn{

    width: 60px;
    height: 60px;
    padding: 5px;
    margin:10px;
}

.child{
    border: 10px solid red;
    padding: 5px;
    text-align: center;
}
img,
video,
iframe {
  max-inline-size: 100%;
  block-size: auto;
}
