:root{
    --main-redius: 5px;
    --main-padding: 5px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
}

.Container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "nav nav nav nav"
    "Content1 Content2 Content2 Content2"
    "Content1 Content2 Content2 Content2"
    "Content3 Content3 Content3 Content3";
    grid-gap: .2rem;

}
nav{
    background: #121212;
    grid-area: Content3;
    border-radius: var(--main-redius);
    padding-top: var(--main-padding);
}

.Content3{
    background: #64ff64;
    grid-area: Content3;
    border-radius: var(--main-redius);
    padding-top: var(--main-padding);
}
.Content2{
    background: #64ff64;
    grid-area: Content3;
    border-radius: var(--main-redius);
    padding-top: var(--main-padding);
}

.Content1{
    background: #64ff64;
    grid-area: Content3;
    border-radius: var(--main-redius);
    padding-top: var(--main-padding);
}
